.text-hover {
  transition: all 0.8s;
}

@each $key, $color in $colors {
  .text-#{$key} {
    color: $color !important;
  }

  .text-#{$key}-hover:hover {
    color: $color !important;
  }
}

.text-yellow-hover:hover {
  color: $yellow;
}

.transform-hover {
  transition: all 0.8s ease-out;
}

.transform-size-hover:hover {
  transform: scale(1.2);
}

@for $i from 1 through 500 {
  .transform-translate-top-#{$i}px:hover {
    transform: translateY(-#{$i}px);
  }

  .transform-h-#{$i}px {
    max-height: #{$i}px;
    transition: max-height 0.8s ease-out;
  }

  .transform-h-#{$i}px-hover:hover {
    max-height: #{$i}px;
    transition: max-height 0.8s ease-in;
  }
}
