body {
  background-color: $bg-body;
}
* {
  font-family: "Figtree", sans-serif;
  color: $white;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: $white;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $danger;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}
